@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av Bgd Faria Lima 1306<br />
    Pinheiros, São Paulo - SP, 01451-001<br />
    <abbr title="Phone">P:</abbr>
    (11) 3576-7503
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:atende.facil@upbrasil.com">atende.facil@upbrasil.com</a>
</address>